/* global.scss - Reset and base styles */
@use './design.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-sans;
  font-size: $text-base;
  line-height: $line-height-normal;
  color: $text-primary;
  background: $bg-base;
}

a {
  color: $accent-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
}

:focus-visible {
  outline: 2px solid $accent-primary;
  outline-offset: 2px;
}

::selection {
  background: rgba($accent-primary, 0.3);
}

.mono {
  font-family: $font-mono;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
