name: Build and Release

on:
  push:
    branches: [ "main", "master" ]
  release:
    types: [created]
  workflow_dispatch:

env:
  PYTHONIOENCODING: utf-8

jobs:
  build-and-deploy:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js 20.19.0
      uses: actions/setup-node@v4
      with:
        node-version: '20.19.0'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        cache: 'pip'

    - name: Install Frontend Dependencies
      working-directory: frontend
      run: npm install

    - name: Install Root Dependencies
      run: pip install -r ./requirements.txt

    - name: Build Backend
      run: python cli.py --build-backend

    - name: Rename Backend Binary (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: mv backend/dist/backend backend/dist/backend.exe

    - name: Build Frontend
      run: python cli.py --build-frontend

    - name: Upload Artifacts (Windows)
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Shogi-Instructor-Windows
        path: frontend/dist_electron/*.exe

    - name: Upload Artifacts (Linux)
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Shogi-Instructor-Linux
        path: frontend/dist_electron/*.AppImage

    - name: Upload to Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: |
          frontend/dist_electron/*.exe
          frontend/dist_electron/*.AppImage
